FFMPEG_DOCKERIMAGE_URL="<your-docker-image-url>"
REDIS_HOST='localhost'
REDIS_PASSWORD=""
REDIS_PORT = 6379
AWS_SECRET_KEY="<your-aws-secret-key>"
AWS_ACCESS_KEY="<your-aws-access-key>"
AWS_REGION="<aws-region>"
AWS_S3_BUCKET="<your-s3-bucket>"
BIND_IP= "0.0.0.0"