node_modules
sfuServer/dist
sfuServer/node_modules
sfuServer/node_modules/*
sfuServer/.env
.env
client/node_modules
client/dist
client/.env
streamProcessNode/node_modules
streamProcessNode/.env
streamProcessNode/src/tmp
